/**
 * Create by 
 * style for
 **/
 body{
 	background: #DEDEDE;
 	font-family: "黑体";
    font-size: 14px;
    margin: 0px;
    border: 0px;
    min-width: 750px;
 }
#header{
	width:100%;
	height:70px;
	display:table;
	background:#333333;
/*	vertical-align: middle;*/
}
#header .logo{
	display:table-cell;
	vertical-align: middle;
	height:70px;
	
}
#header .logo img{
	margin-left: 35px;
}
#header ul{
	display:block;
	float:right;
	margin:0;
	padding:0;
}
#header ul li{
	color:#fff;
	float:left;
	line-height: 70px;
	margin-right: 20px;
}
#header ul li a:hover{
	color:gray;
}
aside{
    float:right;
    width:390px;
    background:#fff;
    box-shadow: 2px 2px 2px #848484;
    margin:40px 20px 0 0;
    padding:20px;
}
.aside{
    padding-left: 10px;
    border-left:3px #ccc solid;
}
form>div{
    margin:10px 0;
}
.input_message{
    width:30%;
    text-align:right;
    margin-top:10px;
    margin-right:20px;
    vertical-align: top;
    display:inline-block;
}
.bot{
    vertical-align: bottom;
    border:1px #ccc solid;
}
.demand{
    font-size: 13px;
    color: gray;
    margin-left: 37.5%;
    margin-top: 10px;
}
.input_messages{
    width: 30%;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
textarea{
    margin-top: 10px;
    width: 50%;
    height: 100px;
    margin-left: -7px;
}
input[type='submit']{
    width: 100%;
    height: 40px;
    background: #3355D0;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #3355D0;
    font-weight: 800;
}
article{
	margin:40px 450px 20px 40px;
	background-color: #fff;
	padding:20px;
	box-shadow: 2px 2px 2px #848484;
	line-height: 1.5;
}
h2{
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h3{
	font-size: 1.17em;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h5{
	font-size: 0.83em;
	-webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.color_gray{
	color:gray;
}
p{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.text_indent{
	text-indent: 2em;
}
p a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
article img{
	width:20%;
}
ul,ol{
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px;
}
ol{

}
/*ul{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}*/
figure{
	height: 120px;
    width: 140px;
    border: 1px solid #aaa;
    text-align: center;
    padding-bottom: 10px;
  /*  margin-bottom: 20px;*/
    display: inline-block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
figcaption{
	padding:5px;
	/*display:block;*/
}
figure img{
	width:70%;
}
table{
    width:100%;
    border:1px #ccc solid;
    border-collapse: collapse;
}
thead{
    color: white;
    background: #333;
}
th,td{
    border:1px #ccc solid;
    text-align: left;
}
tfoot{
    font-weight: bold;
    background: #ccc;
}

footer{
    width:100%;
    height:60px;
    background-color:#000;
    color:#fff;
    text-align: center;
    line-height: 60px;

}
